<section class="kontakt-wrapper">
  <div class="kontakt-container section-container">
    <h2>Kontakt</h2>
    <div class="kontakt-grid">

      <!-- Kontaktinformationen -->
      <div class="kontakt-block">
        <div class="kontakt-item">
          <i class="pi pi-user kontakt-icon"></i>
          <span>Vaceslav Kortschak, Sanitär-Heizung-Klima</span>
        </div>
        <div class="kontakt-item">
          <i class="pi pi-phone kontakt-icon"></i>
          <a href="tel:+4915757095588">+49 157 57095588</a>
        </div>
        <div class="kontakt-item">
          <i class="pi pi-envelope kontakt-icon"></i>
          <a href="mailto:info@kortschak-shk.de">info&#64;kortschak-shk.de</a>
        </div>
      </div>

      <!-- Adresse -->
      <div class="kontakt-block">
        <div class="kontakt-item">
          <i class="pi pi-map-marker kontakt-icon"></i>
          <address>
            Vaceslav Kortschak, Sanitär-Heizung-Klima<br />
            Hasenkamp 16<br />
            31171 Nordstemmen<br />
            Deutschland
          </address>
        </div>
      </div>

    </div>
  </div>
</section>
